@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: #fafafa;
  color: #171717;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.rich-text-div{
  color: #d4d4d4;
}
.rich-text-div hr{
  margin: 32px 0px 32px 0px;
  height: 1px;
  border-top: 0px;
  background-image: linear-gradient(to right, transparent, #525252, transparent);
}
.rich-text-div p{
  margin: 12px 0px 12px 0px;
}
.rich-text-div h1{
  font-size: 3em;
  font-weight: 600;
  margin: 24px 0px 24px 0px;
  text-align: left;
  line-height: 1em;
}
.rich-text-div h2{
  font-size: 1.6em;
  font-weight: 600;
  margin: 21px 0px 21px 0px;
  text-align: left;
}
.rich-text-div h3{
  font-size: 1.4em;
  font-weight: 600;
  margin: 18px 0px 18px 0px;
  text-align: left;
}
.rich-text-div h4{
  font-size: 1.2em;
  font-weight: 600;
  margin: 18px 0px 18px 0px;
}
.rich-text-div ul, .rich-text-div ol{
  margin-left: 16px;
}
.rich-text-div ol li{
  list-style-type: decimal;
}
.rich-text-div ul li{
  list-style-type: circle;
}
.rich-text-div li ul{
  margin-left: 16px;
}
.rich-text-div li ul li{
  list-style-type: decimal;
}
.rich-text-div a{
  color: #3b82f6;
}

 /* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040; 
}
