@import "tailwindcss";

@theme {
  --color-primary-50: var(--color-neutral-50);
  --color-primary-100: var(--color-neutral-100);
  --color-primary-200: var(--color-neutral-200);
  --color-primary-300: var(--color-neutral-300);
  --color-primary-400: var(--color-neutral-400);
  --color-primary-500: var(--color-neutral-500);
  --color-primary-600: var(--color-neutral-600);
  --color-primary-700: var(--color-neutral-700);
  --color-primary-800: var(--color-neutral-800);
  --color-primary-900: var(--color-neutral-900);
  --color-primary-950: var(--color-neutral-950);
}

@theme {
  --color-brand-50: var(--color-blue-50);
  --color-brand-100: var(--color-blue-100);
  --color-brand-200: var(--color-blue-200);
  --color-brand-300: var(--color-blue-300);
  --color-brand-400: var(--color-blue-400);
  --color-brand-500: var(--color-blue-500);
  --color-brand-600: var(--color-blue-600);
  --color-brand-700: var(--color-blue-700);
  --color-brand-800: var(--color-blue-800);
  --color-brand-900: var(--color-blue-900);
  --color-brand-950: var(--color-blue-950);
}

@theme {
  --font-archivo: "Archivo", "sans-serif";
  --font-sans: "Geist", "sans-serif";
  --font-mono: "Geist Mono", "sans-serif";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.rich-text-div{
  color: #d4d4d4;
}
.rich-text-div hr{
  margin: 32px 0px 32px 0px;
  height: 1px;
  border-top: 0px;
  background-image: linear-gradient(to right, transparent, #525252, transparent);
}
.rich-text-div p{
  margin: 12px 0px 12px 0px;
}
.rich-text-div h2{
  font-size: 1.1em;
  font-weight: 600;
  margin: 21px 0px 21px 0px;
}
.rich-text-div ul{
  margin-left: 16px;
}
.rich-text-div li{
  font-size: 0.9em;
  list-style-type: circle;
}
.rich-text-div a{
  color: #3b82f6;
}

 /* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040; 
}